<h1 class="center">Mae's Cafe</h1>
<div class="center card teal accent-3">
  <div class="card-content Black-text">
    <h3>Create A New Menu Item</h3>
    <a href="/apps/new" class="btn">Add New Item</a>
  </div>
</div>
<div class="center card teal accent-3">
  <div class="card-content Black-text">
    <h3>View Menu</h3>
    <a href="/apps" class="btn">View Menu</a>
  </div>
</div>
